
@{ Layout = null; }

<style>
            .butt {
        background-color: #118ec6; /* Green */
        border: none;
        color: white;
        padding: 5px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 4px;
    }

</style>


    @model ConnectApp.Models.LoginModel

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken();
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>CONNECT PLATFORM - LEARN A LANGUAGE. SHARE YOUR LANGUAGE</title>
        <!-- Bootstrap core CSS -->
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="css/one-page-wonder.min.css" rel="stylesheet">
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Start Bootstrap</a>
                @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
                <div class="collapse navbar-collapse" id="navbarResponsive">
           
                         @Html.DevExpress().TextBoxFor(m => m.UserName, tb =>
                    {
                       // tb.Properties.Caption = "User Name";
                        tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
                        tb.ShowModelErrors = true;
                        tb.Properties.ValidationSettings.Display = Display.Dynamic;
                        tb.ControlStyle.CssClass = "butt";
                        tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                        tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                    }).GetHtml()

                        @Html.DevExpress().TextBoxFor(m => m.Password, tb =>
                   {
                      // tb.Properties.Caption = "Password";
                       tb.Properties.Password = true;
                       tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
                       tb.ShowModelErrors = true;
                       tb.ControlStyle.CssClass = "butt";
                       tb.Properties.ValidationSettings.Display = Display.Dynamic;
                       tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
                       tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
                   }).GetHtml()
                        <br />

                        @Html.DevExpress().Button(settings =>
                       {
                           settings.Name = "ButtonLogin";
                           settings.Text = "Login";
                           settings.Styles.Native = true;
                           settings.UseSubmitBehavior = true;
                           settings.ControlStyle.CssClass = "butt";
                           settings.Width = Unit.Pixel(200);
                           settings.Height = Unit.Pixel(35);
                       }).GetHtml()
                        <br/>
                        <br />
                        @*@Html.DevExpress().Button(settings =>
                       {
                           settings.Name = "ButtonRegister";
                           settings.Text = "Register";
                           settings.Styles.Native = true;
                           settings.UseSubmitBehavior = true;
                           settings.ControlStyle.CssClass = "butt";
                           settings.Width = Unit.Pixel(200);
                           settings.Height = Unit.Pixel(35);


                       }).GetHtml()*@

                  
                </div>
            </div>
        </nav>
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container">
                    <h1 class="masthead-heading mb-0">CONNECT PLATFORM</h1>
                    <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
                    @*<a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>*@
            </div>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/Content/Images/01.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">About The Application.</h2>
                        <p>Now you probably wondering what is a Connector?
Simply the person who teaches you the language and customs of the region of your interest.
Okay what is a Connectee?
Simply the person who wants to learn about the language and customs of a region.
</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/Content/Images/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">South African Provinces</h2>
                        <p>1.Western Cape.</p>
                        <p>2.Eastern Cape.</p>
                        <p>3.Northern Cape. </p >
                        <p>4.Kwa - Zulu Natal. </p>
                        <p>5.Free - State. </p>
                        <p>6.North - West. </p>
                        <p>7.Gauteng.</p>
                        <p>8.Mpumalanga.</p>
                        <p>9.Limpopo.</p>
                        <b/>
                        @Html.DevExpress().Button(settings =>
                       {
                           settings.Name = "ButtonViewSA";
                           settings.Text = "ChooseSA";
                           settings.Styles.Native = true;
                           settings.UseSubmitBehavior = true;
                           settings.ControlStyle.CssClass = "butt";
                           settings.Width = Unit.Pixel(200);
                           settings.Height = Unit.Pixel(35);
                       }).GetHtml()
                 </div >
            </div >
          </div >
                    </div >

                </section >
                    <section >
                    <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid rounded-circle" src="~/Content/Images/03.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">CONNECTOR</h2>
                        <p>Share your language with the world and connect with people around the world. Share you culture and country’s best with others, Connect. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
        </div>
        <!-- /.container -->
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src = "~/Content/jquery.min.js" ></script >
    <script src="~/Content/bootstrap.bundle.min.js"></script>
</body>
</html>


}
